@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700&display=swap');

body {
    font-family: 'Lato';
    padding: 0;
    margin: 0;
}

.container {
    padding: 15px 25px;
}

h3 {
    font-size: 0.8em;
    font-weight: 700;
}
h4 {
    font-size: 0.8em;
    font-weight: 700;
}

.logo {
    text-align: center;
    margin: 10px 0;
}

.field {
    margin-bottom: 8px;
}
.field label {
    font-size: 0.7em;
    color: #444;
    font-weight: bold;
}

.field section {
    background-color: #f2f2f2;
    border-radius: 8px;
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.field section input {
   border: 0;
   outline: none;
   flex: 1;
   background-color: transparent;
   font-size: 0.9em;
}

.field section .view button {
    background-color: #ffcdc7;
    border: 1px solid salmon;
    border-radius: 5px;
    color: salmon;
    outline: none;
    cursor: pointer;
}
.field section .view button:hover {
    opacity: 0.9;
}

.categories {
    display: flex;
}

.category-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
